@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-blue: #001489;
  --color-brand-yellow: #ffcd00;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-blue: #001489;
  --brand-yellow: #ffcd00;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --brand-blue: #001489;
  --brand-yellow: #ffcd00;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
